/* Mengaktifkan Font Poppins untuk seluruh website */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* Sedikit spasi agar navbar tidak menutupi konten saat diklik */
html {
    scroll-padding-top: 80px; 
    scroll-behavior: smooth; /* Efek scroll halus */
}

/* Kustomisasi tombol agar lebih bulat */
.btn {
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 600;
}

/* Efek hover untuk ikon sosmed */
.social-icons a:hover {
    color: #0d6efd !important; /* Warna biru saat disentuh */
    transition: 0.3s;
}